body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  .hover-bg-red:hover{
  background-color: #ff0000;
}
.circular-img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  }
.hover-bg-red-btn:hover{
  background-color: #ff0000;
  font-size: 105%;
  color: #fff7f7;
  border-radius: 1rem;
  /* padding:  0 16px; */
}
.btn-orange{
background-color: orangered;
color: white;
}
.orange-div{
  border:  solid black 2px;
  border-color: orangered;
  border-radius: 2em;
}.text-orange{
  color: orangered;
}
.left-border-only {
  border-left: 4px solid #000000; /* Change the color and size as needed */
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-left: 10px; /* Optional: Add padding to separate content from the border */
  margin: 2%;
}
.img-size{
  width: 150%;
}